<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>428064189640-j6u02hshvv3f3a5jn777e0r3d1v2t5dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428064189640-j6u02hshvv3f3a5jn777e0r3d1v2t5dt</string>
	<key>API_KEY</key>
	<string>AIzaSyCn2xcyXUIVK8cZd0Othe6HARxxkuskAl8</string>
	<key>GCM_SENDER_ID</key>
	<string>428064189640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.semitone.lightcontrol</string>
	<key>PROJECT_ID</key>
	<string>lightcontrol-f2c48</string>
	<key>STORAGE_BUCKET</key>
	<string>lightcontrol-f2c48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:428064189640:ios:9a4513718a0c75a2</string>
	<key>DATABASE_URL</key>
	<string>https://lightcontrol-f2c48.firebaseio.com</string>
</dict>
</plist>